<h1>Impressum</h1>
<p>
FrachtenFuchs UG (haftungsbeschränkt)<br>
Julian Hauck (Geschäftsführer)<br>
<br>
Adresse:<br>
Siegburger Straße 62<br>
53229 Bonn<br>
<br>
Telefon:<br>
+49 - (0)176 2004 33 77<br>
<br>
E-Mail:<br>
julian.chandrahauck@gmail.com<br>
<br>
Bank:<br>
BIC: HOLVDEB1<br>
IBAN: DE92100179972590672794
</p>