<p>.</p>
<style>
  body {
    background-image: url('logo-bs-transparent.png');
    background-repeat: no-repeat;
    background-size: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
<br><br><br><br><br><br>
<h1>Herzlich Willkommen in unserem Spirit-Shop!</h1>
<br>
<p>Wir verkaufen ausgewählte und qualitativ hochwertige Spirits zu einem sehr günstigen Preis</p>
<br><br>
<p>Hauptsächlich für:</p>
<ul>
  <li><%= link_to 'Scotch', scotch_path %></li>
  <li><%= link_to 'Whiskey', whiskey_path %></li>
  <li><%= link_to 'Rum', rum_path %></li>
  <li><%= link_to 'Gin', gin_path %></li>
  <li><%= link_to '...Andere', andere_path %></li>
</ul>

<p>...aber wir verkaufen auch so allerlei andere Alkoholika aus aller Welt! (<%= link_to 'Zur Auswahl', andere_path %>)</p>

<br>

<h3>
 "billiger-schnaps.de" deshalb, weil wir Einkaufsrabatte nahezu 1:1 an Sie durchreichen! Also immer schön viel bestellen :-)
</h3>

<br>
<p>Viel Spaß in unserem Web-Shop und bei Fragen können Sie jederzeit anrufen (<%= link_to "Nummer", imprint_path %>)!</p>
<h4>Julian Hauck & S[ecret] D[istributeur] :-)</h4>
<p>--------------------------------------------------------------------------------------------</p>
<h3>Produkte (Netto Preise)</h3>
<table>
<% Product.without_versand.sort_by(&:created_at).each do |p| %>
  <tr>
    <td><%= link_to p.title, p %> - <%= number_with_precision(p.net, precision: 2) %> €</td>
  </tr>
<% end %>
</table>