<p>
  Login Bereich
</p>

<%= form_with url: "login" do %>
  <input class="masked_input_field" id="masked" name="masked" type="password" />
  <%= submit_tag("Login") %>

<% end %>

<%= link_to "Home", "/" %>
