<h3>Navigation</h3>
<ul>
  <li><%= link_to 'Echte Bestellungen', admin_orders_path %></li>
  <li><%= link_to 'Falsche Bestellung', admin_orders_fake_path %></li>
  <li><%= link_to 'FahrtenFuchs-Produkte', admin_products_path %></li>
  <li><%= link_to 'Kirsch-Produkte', admin_kirsch_products_path %></li>
  <li><%= link_to 'Revenue Reporting', admin_reporting_path({year: Date.today.year, month: Date.today.month}) %></li>
</ul>