<%= render 'admin/nav' %>

<h1>Fake Orders</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>E-Mail</th>
    <th>Ordered At</th>
  </tr>

  <% @orders.each do |o| %>
    <tr>
      <td><%= o.id %></td>
      <td><%= o.name %></td>
      <td><%= o.address  %></td>
      <td><%= o.email %></td>
      <td align='right'>
        <%= o.created_at.strftime('%F') %><br>
        <%= o.created_at.strftime('%H:%M') %> GMT
      </td>
    </tr>
  <% end %>
</table>