<%= render 'admin/nav' %>

<h1>Orders (Chronologically Reverse)</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Fake</th>
    <th>Name</th>
    <th>Address</th>
    <th>E-Mail</th>
    <th>Net Price</th>
    <th>VAT</th>
    <th>Gross Price</th>
    <th>Paid?</th>
    <th>Ordered At</th>
    <th>Ordered Items</th>
    <th>Paid?</th>
    <th>Ordered at Kirsch?</th>
    <th>Sent?</th>
    <th>Actions</th>
  </tr>

  <% @orders.each do |o| %>
    <tr>
      <td><%= o.id %></td>
      <td><%= "X" unless !!o.fake %></td>
      <td><%= o.name %></td>
      <td><%= o.address  %></td>
      <td><%= o.email %></td>
      <td align='right'><%= number_with_precision(o.net, precision: 2) %> €</td>
      <td align='right'><%= number_with_precision(o.vat, precision: 2) %> €</td>
      <td align='right'><%= number_with_precision(o.gross, precision: 2) %> €</td>
      <td>
        <%=  o.paid?%>
      </td>
      <td align='right'>
        <%= o.created_at.strftime('%F') %><br>
        <%= o.created_at.strftime('%H:%M') %> GMT
      </td>
      <td align='right'>
        <table border="1">
          <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Net Price</th>
            <th>VAT</th>
            <th>Gross Price</th>
          </tr>
          <% o.order_items.each do |oi| %>
            <tr>
              <td align='left'><%= oi.title %></td>
              <td align='left'><%= oi.quantity %></td>
              <td align='left'><%= number_with_precision(oi.net, precision: 2) %> €</td>
              <td align='left'><%= number_with_precision(oi.vat, precision: 2) %> €</td>
              <td align='left'><%= number_with_precision(oi.gross, precision: 2) %> €</td>
            </tr>
          <% end %>
        </table>
      </td>
      <td><%= o.paid? %></td>
      <td><%= o.ordered_at_kirsch? %></td>
      <td><%= o.sent? %></td>
      <td><%= o.fake? %></td>
      <td>
        <%= link_to('Mark Paid', admin_orders_mark_paid_path(order_id: o.id)) unless o.paid? %><br><br>
        <%= link_to('Mark Ordered at Kirsch', admin_orders_mark_sent_path(order_id: o.id)) unless o.ordered_at_kirsch? %><br><br>
        <%= link_to('Mark Sent', admin_orders_mark_sent_path(order_id: o.id)) unless o.sent? %><br><br>
        <%= link_to('Mark Fake', admin_orders_mark_fake_path(order_id: o.id))  unless o.fake? %>
      </td>
    </tr>
  <% end %>
</table>