<%= render 'admin/nav' %>

<h1>Kirsch Produkte</h1>
<table border ="1px">
  <thead>
    <tr>
      <th>Kirsch Artikelnummer</th>
      <th>EP</th>
      <th>VP</th>
      <th>Marge</th>
      <th>Ist gr. Flasche?</th>
      <th>Löschen?</th>
    </tr>
  </thead>
  <% @kirsch_products.each do |kp| %>
    <tr>
      <td><%= kp.article_number %></td>
      <td><%= kp.price_in_cents %></td>
      <td><%= kp.fahrtenfuchs_price_in_cents %></td>
      <td><%= kp.fahrtenfuchs_price_in_cents - kp.price_in_cents %></td>
      <td><%= kp.great? %></td>
      <td><%= link_to 'Destroy', admin_kirsch_product_path(kp), :method => :delete %></td>
    </tr>
  <% end %>
</table>