<br/>
<h2>Dateneingabe für Besteller</h2>

<%= form_with model: @order do |f| %>
  <table>
    <tr border="1px">
      <th>Titel</th>
      <th>Menge</th>
      <th>Netto-Preis</th>
      <th>Brutto-Preis</th>
    </tr>
    <%= f.fields_for @order.order_items  do |order_items| %>
      <tr>
      <% order_items.object.each do |oi| %>
        <%= f.hidden_field :quantity%>

        <td><%= oi.title %></td>
        <td><%= oi.quantity %></td>
        <td><%= number_with_precision(oi.net, precision: 2) %> €</td>
        <td><%= number_with_precision(oi.gross, precision: 2) %> €</td>
      </tr>
      <% end %>
    <% end %>
  </table>
  <br>
  <p>
    Brutto-Preis: <%= number_with_precision(@order.gross, precision: 2) %> € (MwSt: <%= number_with_precision(@order.vat, precision: 2) %>€, Netto-Preis: <%= number_with_precision(@order.net, precision: 2) %>€)
  </p>
  <br>
  <h3>
    Meine Daten
  </h3>
  <%= label_tag(:first_name, "Name: ")%><%= f.text_field :name %><br><br>
  <%= label_tag(:first_name, "Adresse: ")%><%= f.text_field :address %><br><br>
  <%= label_tag(:first_name, "E-Mail: ")%><%= f.text_field :email %><br><br>

  <%= f.submit "Jetzt kostenpflichtig bestellen" %>

<% end %>