<br/>
<h2>Produktkatalog -> Finale Auswahl treffen</h2>

<%= form_with model: @order, url: entry_path, method: :post, local: true do |f| %>

  <table style="border: 1px solid black;">
    <tr>
      <th style="border: 1px solid black;">Name</th>
      <th style="border: 1px solid black;">Brutto-Preis</th>
      <th style="border: 1px solid black;">Menge</th>
    </tr>

    <%= f.fields_for :order_items  do |ff| %>
      <tr>
        <td style="border: 1px solid black;">
          <%= ff.object.title %>
        </td>
        <td style="border: 1px solid black;">
          <%= ff.object.gross %> € pro Stück
        </td>
        <td style="border: 1px solid black;">
          <%= ff.hidden_field :product_id %>
          <%= ff.select :quantity, options_for_select((0..10), (ff.object.product.id.equal?(params[:product_id].to_i) ? 1 : 0)) %>
        </td>
      </tr>
    <% end %>
  </table>

  <br>
  <%= f.submit "Continue (Weiter)" %>

<% end %>