<h1><b>Bestellnummer: <%= @order.id %></b></h1><br>
<h2><u>Ihre Bestellung war erfolgreich!</u></h2><br>
<table style="border-collapse: collapse; border: 1px solid black;">
  <tr>
    <th style="border: 1px solid black;">Name</th>
    <th style="border: 1px solid black;">Anzahl</th>
    <th style="border: 1px solid black;">Netto</th>
    <th style="border: 1px solid black;">MwSt</th>
    <th style="border: 1px solid black;">Brutto</th>
  </tr>
  <% @order.order_items.each do |oi| %>
    <tr>
      <td style="border: 1px solid black;"><%= oi.title %></td>
      <td style="border: 1px solid black;"><%= oi.quantity %></td>
      <td style="border: 1px solid black;"><%= number_with_precision(oi.net, precision: 2) %> €</td>
      <td style="border: 1px solid black;"><%= number_with_precision(oi.vat, precision: 2) %> €</td>
      <td style="border: 1px solid black;"><%= number_with_precision(oi.gross, precision: 2) %> €</td>
    </tr>
  <% end %>
</table>
<br>
<h3>Summe</h3>
<p>
  Brutto: <%= number_with_precision(@order.gross, precision: 2) %> €<br>
  Netto: <%= number_with_precision(@order.net, precision: 2) %> €<br>
  USt/VAT: <%= number_with_precision(@order.vat, precision: 2) %> €<br>
<br>
<p>
<h2><u>Nächster Schritt</u></h2><br>
  Bitte überweisen Sie <%= number_with_precision(@order.gross, precision: 2) %> € auf das Konto:<br><br>
  Inhaber:<br>
  <%= BankAccount.owner %><br><br>
  IBAN:<br>
  <%= BankAccount.iban %><br><br>
  Sparkasse KölnBonn BIC:<br>
  <%= BankAccount.bic %><br><br>
</p>
<br>
<p>
Vielen Dank,<br>
Ihr billiger-schnaps.de Team
</p>