<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Bestätigung Ihrer Bestellung (Rechnungsnummer: Bestellung-<%= @order.id %>)
    </h1>
    <p>Name: <%= @order.name %></p>
    <p>E-Mail: <%= @order.email%> %></p>
    <p>Adresse: <%= @order.address %></p>
    <table>
      <tr>
        <th>Produkt</th>
        <th>Menge</th>
        <th>Netto-Preis</th>
        <th>Brutto-Preis</th>
      </tr>
      <% @order.order_items.each do |oi| %>
        <tr>
          <td><%= oi.title %></td>
          <td><%= oi.quantity %></td>
          <td><%= oi.net  %></td>
          <td><%= oi.gross %></td>
        </tr>
      <% end %>
      <tr>
        <td>GESAMT: </td>
        <td> - </td>
        <td><%= @order.net %></td>
        <td><%= @order.gross %></td>
      </tr>
    </table>
    <p>
      Glückwunsch! Sie haben erfolgreich bei billiger-schnaps.de bestellt! <br>
    </p>
    <p>
      Überweisen Sie <%= @order.gross %> an IBAN: <%= BankAccount.iban %>.
    </p>
    <p>
      Sobald die Ware bezahlt und vom Importeur bei uns ageliefert wurde, schicken wir diese an Sie los! Produkte werden bestellt, wenn Sie das Geld überwiesen haben (Wartezeit: maximal 5 Tage) .
    </p>
    <p>
      Danke und einen erfolgreichen Tag,
      <%= TheCompany.owner %>>
      <%= TheCompany.website %>>

      ----------
      Geschäftsführer
      <%= TheCompany.name_and_type %>>
      <%= TheCompany.street_and_no %>
      <%= TheCompany.plz %> <%= TheCompany.city %>>
    </p>
  </body>
</html>