<%= render 'admin/nav' %>

<h1>Reporting</h1>

<br><br><br>

<h2>Letzter Monat (<%= @last_month %>-<%= @last_year %>)</h2><br>
<h3> Umsatz: <%= @last_month_revenue.to_s %> €</h3>

<br><br><br>

<h2>Dieser Monat  (<%= @current_month %>-<%= @current_year %>)</h2><br>
<h3> Umsatz: <%= @this_month_revenue.to_s %> €</h3>

<br><br><br>