<%= render 'admin/nav' %>

<h1>
  Alle Produkte (<%= link_to 'Neues Produkt', new_admin_product_path %>)
</h1>

<table border="1">

  <thead>
    <tr>
      <th>Löschen</th>
      <th>Produkt ID</th>
      <th>Name</th>
      <th>Beschreibung</th>
      <th># Flaschen >= 0.5 l</th>
      <th>Netto-Preis</th>
      <th>VAT</th>
      <th>Brutto-Preis</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |p|%>
      <tr>
        <td>
          <%= link_to 'Destroy', admin_product_path(p), :method => :delete %>
        </td>
        <td>
          <%= p.id %>
        </td>
        <td>
          <%= link_to p.title, [:admin, p] %>
        </td>
        <td>
          <%= p.description %>
        </td>
        <td>
          <%= p.great_bottle %>
        </td>
        <td>
          <%= number_with_precision(p.net, precision: 2) %> €
        </td>
        <td>
          <%= number_with_precision(p.vat, precision: 2) %> €
        </td>
        <td>
          <%= number_with_precision(p.gross, precision: 2) %> €
        </td>
      </tr>
    <% end %>
  </tbody>
</table>