<%= render 'admin/nav' %>
<h1>Produkt anlegen/aktualisieren</h1>

<%= form_for [:admin, @product] do |f| %>
  Name/Title: <%= f.text_field :title %>
  <br><br>
  <%= f.label 'Image' %>
  <%= f.file_field :pic %>
  <br><br>
  <%= f.label 'Video' %>
  <%= f.file_field :vid %>
  <br><br>
  # gr. Flaschen: <%= f.select :great_bottle, options_for_select(0..5)%>
  <br><br>
  Beschreibung: <%= f.text_area :description, size: "40x8" %>
  <br><br>
  Netto-Preis in Euro Cents (nur ganze Zahlen!!!): <%= f.text_field :net_price_in_cents, value: "0" %> (bis 31.12.: 16%, sonst 19% USt)
  <br><br>
  <%= f.submit "Create" %>
<% end %>