<%= render 'admin/nav' %>

<h1>
  <%= @product.title %>
</h1>
<p>
  Description:<br></p>
  <%= simple_format(@product.description) %>
<p>  <br><br>

  Gross Price:<br><%= number_with_precision(@product.gross, precision: 2) %> €
  <br><br>

  Net Price:<br><%= number_with_precision(@product.net, precision: 2) %> €
  <br><br>

  VAT:<br><%= number_with_precision(@product.vat, precision: 2) %> €
  <br><br>

  Created at:<br><%= @product.created_at %>
  <br><br>
</p>

<% if @product.pic.attached? %>
  <image src="<%=(url_for(@product.pic)) %>"/>
<% end %>