<h1>Alle Produkte</h1>

<p>Produkt-Nr.:
  <br><%= @p.id %></p>

<p>Name:
  <br><%= @p.title %></p>

<p>Beschreibung:<br></p>
  <%= simple_format(@p.description) %>

<p>Netto-Preis:
  <br><%= number_with_precision(@p.net, precision: 2) %> €</p>

<p>USt/VAT:
  <br><%= number_with_precision(@p.vat, precision: 2) %> €</p>

<p>Brutto-Preis:
  <br><%= number_with_precision(@p.gross, precision: 2) %> €</p>

<br><br>

<u><%= link_to 'Jetzt bestellen', new_order_path(product_id: @p.id) %></u>

<br><br><br>
