<!DOCTYPE html>
<html>
  <head>
    <title>billiger-schnaps.de</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type ="image/png" href="favicon-32x32.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    <br>
    <p>--------------------------------------------------------------------------------------------</p>
    <br>
    <%= link_to 'Bestellformular', new_order_path %><br>
    <br>
    <%= link_to 'AGB', agb_path %><br>
    <br>
    <%= link_to 'Impressum', imprint_path %> / <%= link_to 'Imprint', imprint_path %>
  </body>
</html>
